p{
    color: blue;
}
#second {
    color: red;
}
.third {
    color: brown
}
a:link
{
    color: aquamarine;
}
a:visited{
    color: black;
}
a:hover{
    color: blueviolet;
}
input[type="text"]{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;

}
input[type="button"]{
    width: 120px;
    margin-left: 35px;
    display: block;
}
.main-div h1{
    background-color: orange;
    color: white;
}
.div h1{
    background-color: aqua;
    color: black;
}